<template>
  <div class="title primaryColor font-weight-bold mb-3">Whoru</div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component()
export default class Header extends Vue {}
</script>

<style scoped>
.title {
  font-size: 5em;
}
</style>


