<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <button
        class="btn btnHistory mb-3"
        @click="toggleHistory"
      >{{showHistory?"Hide recent searches":"Show recent searches"}}</button>
    </div>
    <b-row v-if="showHistory" align-h="end" class="mb-1">
      <form>
        <div class="input-group input-group-sm">
          <input
            class="inputSearch form-control"
            type="text"
            v-model="filterTextSearch"
            placeholder="Filter history"
          >
        </div>
      </form>
    </b-row>
    <ServerTable
      v-if="showHistory"
      v-bind:items="filteredDomains"
      v-bind:rows="numRows"
      v-bind:showPaginator="true"
    />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { State, Action, Getter } from "vuex-class";
import Component from "vue-class-component";
import { getHistory } from "../services/checkServices";
import ServerTable from "./ServerTable.vue";
import { mapGetters } from "vuex";
import { IFullState, IDomain } from "../domain/models";

@Component({
  components: {
    ServerTable
  }
})
export default class History extends Vue {
  @Action("fetchHistory") public fetchHistory: any;
  @Action("loading") public loading: any;
  @Getter("allDomains") public allDomains: IDomain[] | undefined;

  public showHistory = false;
  public filterTextSearch = "";

  public mounted() {
    this.loading();
    this.fetchHistory();
  }

  get numRows() {
    return this.filteredDomains ? this.filteredDomains.length : 0;
  }

  get filteredDomains() {
    return this.filterTextSearch !== ""
      ? this.allDomains &&
          this.allDomains.filter(
            item =>
              item && item.Domain && item.Domain.includes(this.filterTextSearch)
          )
      : this.allDomains;
  }

  public toggleHistory() {
    this.showHistory = !this.showHistory;
  }
}
</script>

<style scoped>
.btnHistory {
  color: #3a3a3a;
}

.btnHistory:hover {
  background: #e9e9e9;
  box-shadow: none;
}

.btnHistory:active {
  background: #f3f3f3;
  box-shadow: none;
}

.btnHistory:focus {
  background: #ffffff;
  box-shadow: none;
}
</style>


