<template>
  <div class="modal-backdrop fade show">
    <div class="col-xs-12 modal-dialog-centered d-flex justify-content-center">
      <b-spinner
        style="width: 7rem; height: 7rem;"
        variant="info"
        label="Large Spinner"
        type="grow"
      ></b-spinner>
    </div>
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component()
export default class Loading extends Vue {}
</script>

<style scoped>
</style>


