<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <form class="col-6" @submit="checkDomain">
        <div class="input-group mb-3 input-group-sm">
          <input
            type="search"
            class="inputSearch form-control"
            placeholder="Search domain... i.e truora.com"
            v-model="domain"
            pattern="(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]"
            required
          >
          <button type="submit" class="btnSearch btn ml-1">
            <i class="primaryColor fas fa-search"></i>
          </button>
        </div>
      </form>
      <div class="result">
        <ServerTable
          v-if="showResults"
          v-bind:items="[searchResult]"
          v-bind:rows="1"
          v-bind:showPaginator="false"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { State, Action, Getter } from "vuex-class";
import Component from "vue-class-component";
import { getDomainInfo } from "../services/checkServices";
import { IServer, IFullState, IDomain } from "../domain/models";
import ServerTable from "./ServerTable.vue";

@Component({
  components: {
    ServerTable
  }
})
export default class SearchDomain extends Vue {
  @State("domains") public domainsStore: IFullState | undefined;
  @Action("fetchDomain") public fetchDomain: any;
  @Action("loading") public loading: any;
  @Getter("searchResult") public searchResult: IDomain | undefined;

  public domain = "";

  get showResults() {
    return this.searchResult ? true : false;
  }

  public checkDomain(e: any) {
    e.preventDefault();
    this.loading();
    this.fetchDomain(this.domain);
    this.domain = "";
  }
}
</script>

<style>
.inputSearch {
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #acacac;
  box-shadow: 0 1px 0 0 #acacac;
  font-size: 18px;
  box-shadow: none;
}

.inputSearch:focus {
  background: #ffffff;
  border-bottom: 1px solid #3a3a3a;
  box-shadow: 0 1px 0 0 #3a3a3a;
  outline: none;
}

.btnSearch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.btnSearch:hover,
:focus {
  background: #f3f3f3;
  box-shadow: none;
}
</style>
