<template>
  <div class="overflow-auto">
    <b-table
      hover
      selectable
      select-mode="single"
      selectedVariant="success"
      id="history-table"
      :fields="fields"
      :items="items"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template slot="logo" slot-scope="data">
        <b-img
          v-if="data.item.logo"
          center
          v-bind="{src: data.item.logo, width: 40, height: 40}"
          rounded="circle"
          alt="Circle image"
        ></b-img>
        <i v-if="!data.item.logo" class="iconLogo fas fa-question-circle"></i>
      </template>
      <template slot="Domain" slot-scope="data">
        {{data.item.Domain}}
        <i
          :class="data.item.is_down?'fas fa-heart-broken': 'fas fa-heart'"
          :style="{color: data.item.is_down?'red': 'green'}"
        ></i>
      </template>
      <template slot="servers_changed" slot-scope="data">{{data.item.servers_changed?'Yes':'No'}}</template>
      <template slot="Servers" slot-scope="data">
        <b-table
          v-if="data.item.Servers != null && data.item.Servers.length > 0"
          :items="data.item.Servers"
          :fields="innerFields"
        ></b-table>
        <div v-if="data.item.Servers == null || data.item.Servers.length == 0">No adress information</div>
      </template>
    </b-table>
    <b-pagination
      v-if="showPaginator"
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="history-table"
      align="center"
    ></b-pagination>
  </div>
</template>

<script>
import { Component, Vue } from "vue-property-decorator";

@Component({
  props: ["items", "rows", "showPaginator"],
  data() {
    return {
      fields: [
        "logo",
        { key: "Domain", label: "Domain" },
        { key: "title", label: "Domain title" },
        { key: "previous_ssl_grade", label: "Previous SSL" },
        {
          key: "ssl_grade",
          label: "SSL"
        },
        { key: "servers_changed", label: "Changed" },
        { key: "Servers", label: "Adress info" }
      ],
      innerFields: [
        "adress",
        "country",
        "owner",
        {
          key: "ssl_grade",
          label: "SSL"
        }
      ],
      perPage: 2,
      currentPage: 1
    };
  }
})
export default class ServerTable extends Vue {}
</script>

<style scoped>
.iconLogo {
  color: gray;
  font-size: 1.5em;
}
</style>


