<template>
  <div id="app">
    <Header/>
    <Loading v-if="isLoading"/>
    <SearchDomain/>
    <History/>
  </div>
</template>

<script lang="ts">
import BootstrapVue from "bootstrap-vue";
import { Component, Vue } from "vue-property-decorator";
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import Header from "./components/Header.vue";
import SearchDomain from "./components/SearchDomain.vue";
import History from "./components/History.vue";
import { IDomain } from "./domain/models";
import { Getter } from "vuex-class";
import Loading from "./components/Loading.vue";

Vue.use(BootstrapVue);

@Component({
  components: {
    Header,
    SearchDomain,
    History,
    Loading
  }
})
export default class App extends Vue {
  @Getter("isLoading") public isLoading: IDomain | undefined;
}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 2rem;
}

.primaryColor {
  color: #0097a7;
}

.page-item.active .page-link {
  background-color: #0097a7 !important;
  border-color: #0097a7 !important;
}
</style>
